/* =========================== RESET CSS =========================== */
html{ font-size: 100%; --default_font_std: 'Raleway', sans-serif;--default_font_title:'Raleway', sans-serif}
*{ margin: 0px; padding: 0px; font-family: var(--default_font_std)}
ul{ list-style: none; }
p{ font-size: 1rem; line-height: 1.5em; }
h1{ font-family: var(--default_font_std); font-size: 3.125rem; line-height: 3.125rem; }
h2{ font-family: var(--default_font_std); font-size: 2.5rem; line-height: 2.5rem; }
h3{ font-family: var(--default_font_std); font-size: 2rem; line-height: 2.1rem; }
body{padding:0px; margin:0px;--invisible:rgba(0,0,0,0);}
button{border: none;padding: 1em;}
/* ================================================================= */



/* TRENDS */
.trends{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: whitesmoke;
    place-content: center;
}
    .trend{
        height: 3em;
        width: 3em;
        background-color: rgb(201, 201, 201);
        border-radius: 50%;
        grid-row: 1;
        display: flex;
    }
    .trend:nth-child(2n+0){
        background-color: black;
        color: white;
        grid-row: 2;
    }