/* =========================== RESET CSS =========================== */
html{ font-size: 100%; --default_font_std: 'Raleway', sans-serif;--default_font_title:'Raleway', sans-serif}
*{ margin: 0px; padding: 0px; font-family: var(--default_font_std)}
ul{ list-style: none; }
p{ font-size: 1rem; line-height: 1.5em; }
h1{ font-family: var(--default_font_std); font-size: 3.125rem; line-height: 3.125rem; }
h2{ font-family: var(--default_font_std); font-size: 2.5rem; line-height: 2.5rem; }
h3{ font-family: var(--default_font_std); font-size: 2rem; line-height: 2.1rem; }
body{padding:0px; margin:0px;--invisible:rgba(0,0,0,0);}
button{border: none;padding: 1em;}
/* ================================================================= */
/* TRENDS */
.trends{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: whitesmoke;
    place-content: center;
}
    .label_form_touit{
        display: flex;
        flex-direction: column;
    }
    .trend{
        text-align: center;
        background-color: rgb(201, 201, 201);
        margin: 0.2em;
        grid-row: 1;
    }
    .trend:nth-child(2n+0){
        background-color: black;
        color: white;
        grid-row: 2;
    }

/* ===> FLOATING SECTION <=== */
.floating_section{
    background-color: whitesmoke;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
    .form_bot{
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: auto auto auto;
    }
        .label_form_touit{
            grid-row: 1;
        }
        .label_form_msg{
            grid-row: 2;
        }

/* TOUIT */
.touits{
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
p,h2{
    font-size: 15rem;
  text-align: center;
  color: #fcedd8;
  background: #d52e3f;
     font-family: 'Niconne', cursive;
  font-weight: 700;
text-shadow: 5px 5px 0px #eb452b, 
            10px 10px 0px #efa032, 
            15px 15px 0px #46b59b, 
            20px 20px 0px #017e7f, 
            25px 25px 0px #052939, 
            30px 30px 0px #c11a2b, 
            35px 35px 0px #c11a2b, 
            40px 40px 0px #c11a2b, 
            45px 45px 0px #c11a2b;
}

p{
text-align: center;
font-family: "Helvetica";
font-size:0.8rem;
}

a{
color: #d52e3f;
text-decoration: none;
font-family: 'Niconne', cursive;
font-size: 1.2rem;

}
    .touit{
        box-shadow: 3px 3px 6px grey;
        padding: 2em;
        animation: tran 1s;
    }
        .touit li{
            box-shadow: 2px 2px 6px grey;
            margin-bottom: 0.2em;
        }
    .top{
        background-color: red;
    }
    .img_touit{
        max-height: 3em;
    }
    .dsq{
        visibility: hidden;
    }

.top_inf{
    background-color: grey;
}